@charset "utf-8";
/* CSS Document */
.body
{
	font-family: 'Roboto', sans-serif;
	color: #002E5D;
	font-size: 30px;
}

.header
{
	background: #002E5D url("../../img/Header.png")no-repeat center top;
	padding: 50px ;
	
}

.container 
{
	max-width: 1350px;
	margin: 0 auto;
}



.back
{
	background: #002E5D urlno-repeat center top;
	padding: 50px 0;
	
}
/*положение кнопки №1*/
.layer1 
		{
			position:fixed; /* Абсолютное позиционирование */
			bottom: 250px; /* Положение от нижнего края */
			right: 715px; /* Положение от правого края */
			line-height: 1px;
			
		}
/*положение кнопки №2*/
.layer2 
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 250px; /* Положение от нижнего края */
			right: 405px; /* Положение от правого края */
			line-height: 1px;
		}
/*положение кнопки №3*/
.layer3 
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 250px; /* Положение от нижнего края */
			right: 100px; /* Положение от правого края */
			line-height: 1px;
		}
	/*положение кнопки №4*/
.layer4 
		{
			position: absolute; /* Абсолютное позиционирование */
			bottom: 30px; /* Положение от нижнего края */
			right: 715px; /* Положение от правого края */
			line-height: 1px;
		}
/*положение кнопки №5*/
.layer5
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 30px; /* Положение от нижнего края */
			right: 405px; /* Положение от правого края */
			line-height: 1px;
		}
.layer6
/*положение кнопки №6*/
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 30px; /* Положение от нижнего края */
			right: 100px; /* Положение от правого края */
			line-height: 1px;
		}
.gif 
		{
			display:block; 
			width:500px; 
			height:100px; 
			background:url(stat.gif) no-repeat;
		}
/*положение текста кнопки №1*/
.text1
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 335px; /* Положение от нижнего края */
			right: 780px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 30px;
			
		}
/*положение номера кнопки №1*/
.N1
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 290px; /* Положение от нижнего края */
			right: 825px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 30px;
			
		}
/*положение текста кнопки №2*/
.text2
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 335px; /* Положение от нижнего края */
			right: 465px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 30px;
			
		}
/*положение номера кнопки №2*/
.N2
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 290px; /* Положение от нижнего края */
			right: 520px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 30px;
			
		}
/*положение текста кнопки №3*/
.text3
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 335px; /* Положение от нижнего края */
			right: 155px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 30px;
			
		}
/*положение номера кнопки №3*/
.N3
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 290px; /* Положение от нижнего края */
			right: 210px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 30px;
			
		}
/*положение текста кнопки №4*/
.text4
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 115px; /* Положение от нижнего края */
			right: 780px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 30px;
			
		}
/*положение номера кнопки №4*/
.N4
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 70px; /* Положение от нижнего края */
			right: 825px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 30px;
			
		}
/*положение текста кнопки №5*/
.text5
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 115px; /* Положение от нижнего края */
			right: 465px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 30px;
			
		}
/*положение номера кнопки №5*/

.N5
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 70px; /* Положение от нижнего края */
			right: 520px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 30px;
			
		}
/*положение текста кнопки №6*/
.text6
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 115px; /* Положение от нижнего края */
			right: 155px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 30px;
			
		}
/*положение номера кнопки №6*/
.N6
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 70px; /* Положение от нижнего края */
			right: 210px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 30px;
			
		}
/*положение карандашика на первой строке стр3*/
.Filled1 
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 445px; /* Положение от нижнего края */
			right: 100px; /* Положение от правого края */
			line-height: 1px;
		}
/*положение урны на 1 строке стр3*/
.Trash1 
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 430px; /* Положение от нижнего края */
			right: 50px; /* Положение от правого края */
			line-height: 1px;
		}
/*положение текста на 1 строке стр3*/
.text31
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 430px; /* Положение от нижнего края */
			right: 640px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 25px;
			
		}
/*положение даты заезда на 1 строке стр3*/
.zaezd1
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 430px; /* Положение от нижнего края */
			right: 400px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 25px;
			
		}
/*положение даты выезда на 1 строке стр3*/
.vyezd1
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 430px; /* Положение от нижнего края */
			right: 160px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 25px;
			
		}
.layer31
/*положение первой рамки на стр3*/
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 400px; /* Положение от нижнего края */
			right: 0px; /* Положение от правого края */
			line-height: 20px;
		}
/*положение урны на 2 строке стр3*/
.Trash2 
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 350px; /* Положение от нижнего края */
			right: 50px; /* Положение от правого края */
			line-height: 1px;
		}
/*положение текста на 2 строке стр3*/
.text32
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 350px; /* Положение от нижнего края */
			right: 640px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 25px;
			
		}
/*положение даты заезда на 2 строке стр3*/
.zaezd2
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 350px; /* Положение от нижнего края */
			right: 400px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 25px;
			
		}
/*положение даты выезда на 2 строке стр3*/
.vyezd2
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 350px; /* Положение от нижнего края */
			right: 160px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 25px;
			
		}
.layer32
/*положение второй рамки на стр3*/
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 320px; /* Положение от нижнего края */
			right: 0px; /* Положение от правого края */
			line-height: 20px;
		}
/*положение карандашика на второй строке стр3*/
.Filled2 
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 365px; /* Положение от нижнего края */
			right: 100px; /* Положение от правого края */
			line-height: 1px;
		}
/*положение урны на 3 строке стр3*/
.Trash3 
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 270px; /* Положение от нижнего края */
			right: 50px; /* Положение от правого края */
			line-height: 1px;
		}
/*положение текста на 3 строке стр3*/
.text33
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 270px; /* Положение от нижнего края */
			right: 640px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 25px;
			
		}
/*положение даты заезда на 3 строке стр3*/
.zaezd3
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 270px; /* Положение от нижнего края */
			right: 400px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 25px;
			
		}
/*положение даты выезда на 3 строке стр3*/
.vyezd3
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 270px; /* Положение от нижнего края */
			right: 160px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 25px;
			
		}
/*положение третьей рамки на стр3*/
.layer33
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 240px; /* Положение от нижнего края */
			right: 0px; /* Положение от правого края */
			line-height: 20px;
		}
/*положение карандашика на третьей строке стр3*/
.Filled3 
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 285px; /* Положение от нижнего края */
			right: 100px; /* Положение от правого края */
			line-height: 1px;
		}
/*положение урны на 4 строке стр3*/
.Trash4 
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 190px; /* Положение от нижнего края */
			right: 50px; /* Положение от правого края */
			line-height: 1px;
		}
/*положение текста на 4 строке стр3*/
.text34
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 190px; /* Положение от нижнего края */
			right: 640px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 25px;
			
		}
/*положение даты заезда на 4 строке стр3*/
.zaezd4
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 190px; /* Положение от нижнего края */
			right: 400px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 25px;
			
		}
/*положение даты выезда на 4 строке стр3*/
.vyezd4
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 190px; /* Положение от нижнего края */
			right: 160px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 25px;
			
		}
/*положение четвертой рамки на стр3*/
.layer34
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 160px; /* Положение от нижнего края */
			right: 0px; /* Положение от правого края */
			line-height: 20px;
		}
/*положение карандашика на четвертой строке стр3*/
.Filled4 
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 205px; /* Положение от нижнего края */
			right: 100px; /* Положение от правого края */
			line-height: 1px;
		}
/*положение кнопки отменить*/
.btnCancel
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 0px; /* Положение от нижнего края */
			right: 200px; /* Положение от правого края */
			line-height: 20px;
		}
/*положение текста отменить*/
.textC
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 10px; /* Положение от нижнего края */
			right: 250px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 25px;
			
		}
/*положение кнопки продолжить*/
.btnCon
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 0px; /* Положение от нижнего края */
			right: 0px; /* Положение от правого края */
			line-height: 20px;
		}
/*положение текста продолжить*/
.textCon
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 10px; /* Положение от нижнего края */
			right: 65px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #FFFFFF;
			font-size: 25px;
			
		}
.dark
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 0px; /* Положение от нижнего края */
			right: 0px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #FFFFFF;
			font-size: 0px;
			
		}
.layera
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 100px; /* Положение от нижнего края */
			right: 420px; /* Положение от правого края */
			line-height: 1px;
		}
.text
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 290px; /* Положение от нижнего края */
			right: 540px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 30px;
		}
.text1l

		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 240px; /* Положение от нижнего края */
			right: 540px; /* Положение от правого края */
			line-height: 1px;
			font-family: 'Roboto', sans-serif;
			color: #002E5D;
			font-size: 30px;
		}
/*положение кнопки да*/
.btnYes
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 150px; /* Положение от нижнего края */
			right: 710px; /* Положение от правого края */
			line-height: 20px;
		}
/*положение кнопки нет*/
.btnNo
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 150px; /* Положение от нижнего края */
			right: 500px; /* Положение от правого края */
			line-height: 20px;
		}
.day1
		{
			position: fixed; /* Абсолютное позиционирование */
			bottom: 150px; /* Положение от нижнего края */
			right: 500px; /* Положение от правого края */
			line-height: 20px;
		}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}